<?xml version="1.0"?>
<robot name="ptz_driver" xmlns:xacro="https://www.ros.org/wiki/xacro">
  <xacro:macro name="ptz_driver">
    <xacro:property name="M_PI" value="3.1415926" />
    <xacro:property name="SET_ZERO" value="0" />
    <xacro:property name="SET_ONE" value="1" />
    <xacro:property name="SET_P" value="PTZ" />
    <xacro:property name="POINT_D" value="link.dae" />
    <xacro:property name="POINT_S" value="link.stl" />
    <xacro:property name="Joint_Revolute" value="revolute" />
    <xacro:property name="Joint_Fixed" value="fixed" />
    <xacro:property name="File_DAE" value="package://ptz_description/meshes/dae" />
    <xacro:property name="File_STL" value="package://ptz_description/meshes/stl" />
    

    <link name="${SET_P}_base_link">
      <inertial>
        <origin xyz="-1.8317E-05 -0.0064414 -0.00088958" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <mass value="0.11363" />
        <inertia ixx="0.00010358" ixy="-3.8626E-08" ixz="9.6564E-09" iyy="5.6915E-05" iyz="4.8822E-08" izz="0.00010171" />
      </inertial>
      <visual>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_DAE}/${SET_P}_base_${POINT_D}" />
        </geometry>
        <material name="">
          <color rgba="0.75294 0.75294 0.75294 ${SET_ONE}" />
        </material>
      </visual>
      <collision>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_STL}/${SET_P}_base_${POINT_S}" />
        </geometry>
      </collision>
    </link>

    <link name="${Joint_Fixed}_${SET_P}_link">
      <inertial>
        <origin xyz="-4.886E-05 -0.028514 -0.013925" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <mass value="0.36918" />
        <inertia ixx="0.0010871" ixy="-2.8773E-07" ixz="2.8626E-07" iyy="0.0020864" iyz="-0.0002127" izz="0.0021051" />
      </inertial>
      <visual>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_DAE}/${Joint_Fixed}_${SET_P}_${POINT_D}" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_STL}/${Joint_Fixed}_${SET_P}_${POINT_S}" />
        </geometry>
      </collision>
    </link>
    <joint name="joint_${Joint_Fixed}_${SET_P}" type="${Joint_Fixed}">
      <origin xyz="${SET_ZERO + 0.006142} ${SET_ZERO} -0.0194154" rpy="-${M_PI/2} ${SET_ZERO} -${M_PI/2}" />
      <parent link="${SET_P}_head_link" />
      <child link="${Joint_Fixed}_${SET_P}_link" />
      <axis xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
    </joint>

    <link name="${SET_P}_head_link">
      <inertial>
        <origin xyz="-0.00041874 0.0031623 -0.00071235" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <mass value="0.053787" />
        <inertia ixx="1.9442E-05" ixy="2.0673E-07" ixz="-2.0477E-07" iyy="0.00012094" iyz="-2.4307E-07" izz="0.00012812" />
      </inertial>
      <visual>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_DAE}/${SET_P}_head_${POINT_D}" />
        </geometry>
        <material name="">
          <color rgba="${SET_ONE} ${SET_ONE} ${SET_ONE} ${SET_ONE}" />
        </material>
      </visual>
      <collision>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_STL}/${SET_P}_head_${POINT_S}" />
        </geometry>
      </collision>
    </link>
    <joint name="joint_${SET_P}_head" type="${Joint_Revolute}">
      <origin xyz="-0.0101743 ${SET_ZERO} 0.05485" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
      <parent link="${SET_P}_base_link" />
      <child link="${SET_P}_head_link" />
      <axis xyz="${SET_ZERO} ${SET_ZERO} ${SET_ONE}" />
      <limit effort="30" velocity="1.0" lower="-${M_PI*0.4}" upper="${M_PI*0.4}" />
    </joint>

    <link name="${SET_P}_axis_link">
      <inertial>
        <origin xyz="-0.00041874 0.0031623 -0.00071235" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <mass value="0.053787" />
        <inertia ixx="1.9442E-05" ixy="2.0673E-07" ixz="-2.0477E-07" iyy="0.00012094" iyz="-2.4307E-07" izz="0.00012812" />
      </inertial>
      <visual>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_DAE}/${SET_P}_axis_${POINT_D}" />
        </geometry>
        <material name="">
          <color rgba="${SET_ONE} ${SET_ONE} ${SET_ONE} ${SET_ONE}" />
        </material>
      </visual>
      <collision>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_STL}/${SET_P}_axis_${POINT_S}" />
        </geometry>
      </collision>
    </link>
    <joint name="joint_${SET_P}_axis" type="${Joint_Revolute}">
      <origin xyz="0.01545 ${SET_ZERO} 0" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
      <parent link="${SET_P}_head_link" />
      <child link="${SET_P}_axis_link" />
      <axis xyz="${SET_ZERO} ${SET_ONE} ${SET_ZERO}" />
      <limit effort="30" velocity="1.0" lower="-${M_PI/4}" upper="${M_PI/4}" />
    </joint>

    <link name="${SET_P}_link">
      <inertial>
        <origin xyz="-0.00041874 0.0031623 -0.00071235" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <mass value="0.053787" />
        <inertia ixx="1.9442E-05" ixy="2.0673E-07" ixz="-2.0477E-07" iyy="0.00012094" iyz="-2.4307E-07" izz="0.00012812" />
      </inertial>
      <visual>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_DAE}/${SET_P}_${POINT_D}" />
        </geometry>
        <material name="">
          <color rgba="${SET_ONE} ${SET_ONE} ${SET_ONE} ${SET_ONE}" />
        </material>
      </visual>
      <collision>
        <origin xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" rpy="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
        <geometry>
          <mesh filename="${File_STL}/${SET_P}_${POINT_S}" />
        </geometry>
      </collision>
    </link>
    <joint name="joint_${SET_P}" type="${Joint_Fixed}">
      <origin xyz="-0.00205 ${SET_ZERO} 0" rpy="${M_PI/2} ${M_PI} ${M_PI/2}" />
      <parent link="${SET_P}_axis_link" />
      <child link="${SET_P}_link" />
      <axis xyz="${SET_ZERO} ${SET_ZERO} ${SET_ZERO}" />
    </joint>

  </xacro:macro>
</robot>
